FROM {{.BaseImage}}
WORKDIR /app
COPY . .

{{ range .Runs }}
RUN {{ . }}
{{ end }}

CMD ["{{.Command}}", "{{.Entrypoint}}"]
HEALTHCHECK --interval=30s --timeout=5s --start-period=5s --retries=3 CMD curl -f http://localhost:8080/health || exit 1
